{% extends "miplantilla/index.html" %}

{% block title %}
    About
{% endblock %}
    
{% block content %}
	<h2>Información sobre la web</h2>
	Esta aplicación fue creada como práctica final de la asignatura <b>Servicios y 
	Aplicaciones Telemáticas (SAT)</b>, asignatura del tercer curso del grado de 
	Ingeniería en Tecnologías de la Telecomunicación de la URJC, impartida por 
	Jesús Gonzalez Barahona y Gregorio Robles Martínez.
	Ha sido realizada por Adrián Payol Montero, apayol.<br/>

	<h4>Explicación del funcionamiento</h4>
	La aplicación web descarga (al hacer click en el botón de actualizar) del portal 
	de datos abiertos de Madrid, el documento xml con la información relativa a los 
	museos de la ciudad (enlace en el pie de página).

{% endblock %}





