{% extends "miplantilla/index.html" %}
  
{% block content %}
   
	<div id=subtitulo>
		{{titulo|safe}}
	</div>
	
   {{cargar|safe}} {{filtrar|safe}} <br />

   {% for museo in museos %}
	<div id=museo>
      <h3><a href="{{museo.enlace}}" class="body_content_link">{{museo.nombre}}</a></h3> 
      
			{{museo.via_clase}}
			{{museo.via_nombre}} 
			{{museo.via_numero}}, 
			{{museo.postal}} 
			{{museo.localidad}}
      
			<br/><br/>
      	<a href="/museos/{{museo.id}}" class="body_content_link">Más información</a> 
		<br/><br/>
	</div>
	{% endfor %}
	
{% endblock %}


