{% extends "miplantilla/index.html" %}
  
{% block content %}
   
	<div id=subtitulo>
		{{titulo|safe}}
	</div>
	
   {{cargar|safe}} {{filtrar|safe}} <br />

   {% for museo in museos %}
	<div id=museo>
      <h3><a href="{{museo.enlace}}" class="body_content_link">{{museo.nombre}}</a></h3> 
      
			{{museo.via_clase}}
			{{museo.via_nombre}} 
			{{museo.via_numero}}, 
			{{museo.postal}} 
			{{museo.localidad}}
      
			<br/><br/>
      	<a href="/museos/{{museo.id}}" class="body_content_link">Más información</a> 
		<br/><br/>
	</div>
	{% endfor %}

{% endblock %}


{% block lateral %}
	<div id="cajausuarios"> 
		<div id="titulologin">Páginas de usuarios</div>
			{% for usuario in usuarios %}
				<h4>
					{{usuario}}: 
					<a href="/{{usuario}}" class="body_content_link">{{usuario.titulo}}</a>
				</h4> 
			{% endfor %}
	</div>
{% endblock %}	



