{% extends "miplantilla/index.html" %}

{% block menu %}
	<td><div class="navigation"><a href="/" class="main_link">Inicio</a></div></td>
{% endblock %}

{% block title %}
    Museos / {{titulo|safe}}
{% endblock %}
      
{% block content %}
   
	<div id=subtitulo>
		{{titulo|safe}}
	</div>

	<br/>
	<div id=minisubtitulo2>DIRECCIÓN</div>
	<div id=descripcion>
		{{museo.via_clase}}
		{{museo.via_nombre}} 
		{{museo.via_numero}}, 
		{{museo.postal}} 
		{{museo.localidad}}
	</div><br/>
 
	
	<div id=minisubtitulo2>BARRIO Y DISTRITO</div>
	<div id=descripcion>
		{{museo.barrio}}, {{museo.distrito}}
	</div><br/>

	<div id=minisubtitulo2>ACCESIBILIDAD</div>
	<div id=descripcion>
		{{accesible}}
	</div><br/>

	<div id=minisubtitulo2>DESCRIPCIÓN</div>
	<div id=descripcion>
		{{museo.descripcion}}
	</div><br/>

	<div id=minisubtitulo2>HORARIO</div>
	<div id=descripcion>
		{{museo.horario}}
	</div><br/>

	<div id=minisubtitulo2>DATOS DE CONTACTO</div>
	<div id=descripcion>
		Teléfono: {{museo.telefono}} <br/>
		email: {{museo.email}} <br/>
		Enlace: <a href="{{museo.enlace}}" class="body_content_link">Página externa</a>
	</div><br/>

	{% if museo.num_comentarios != 0 %}
		<div id=minisubtitulo2>COMENTARIOS</div>
		{% for comentario in comentarios %}
			<ul>
				<li><i>"{{comentario.texto}}"</i></li>
			</ul>
		{% endfor %}
	{% endif %}
	
	{% if user.is_authenticated %}
		<br/><div id=minisubtitulo2>NUEVO COMENTARIO</div> <br/>
			{{form|safe}}<br/>

		
		<div id=minisubtitulo2>¿AÑADIR A SU SELECCIÓN?</div> <br/>
			{{form2|safe}}


	{% endif %}
	
{% endblock %}


