{% extends "miplantilla/index.html" %}

{% block menu %}
	<td><div class="navigation"><a href="/" class="main_link">Inicio</a></div></td>
{% endblock %}

{% block title %}
    Museos / {{titulo|safe}}
{% endblock %}
      
{% block content %}
   
	<div id=subtitulo>
		{{titulo|safe}}
	</div>

	<br/>
	<b>DIRECCIÓN</b>
	<div id=descripcion>
		{{museo.via_clase}}
		{{museo.via_nombre}} 
		{{museo.via_numero}}, 
		{{museo.postal}} 
		{{museo.localidad}}
	</div><br/>
	
	<b>BARRIO Y DISTRITO</b>
	<div id=descripcion>
		{{museo.barrio}}, {{museo.distrito}}
	</div><br/>

	<b>ACCESIBILIDAD </b>
	<div id=descripcion>
		{{accesible}}
	</div><br/>

	<b>DESCRIPCIÓN</b>
	<div id=descripcion>
		{{museo.descripcion}}
	</div><br/>

	<b>HORARIO</b>
	<div id=descripcion>
		{{museo.horario}}
	</div><br/>

	<b>DATOS DE CONTACTO</b>
	<div id=descripcion>
		Teléfono: {{museo.telefono}} <br/>
		email: {{museo.email}} <br/>
		Enlace: <a href="{{museo.enlace}}" class="body_content_link">Página externa</a>
	</div><br/>

	<b>COMENTARIOS</b>


	<br/><br/>

	
{% endblock %}


