{% extends "miplantilla/index.html" %}

{% block menu %}
	<td><div class="navigation"><a href="/" class="main_link">Inicio</a></div></td>
{% endblock %}

{% block title %}
    Museos
{% endblock %}
      
{% block content %}
   
	<div id=subtitulo>
		{{titulo|safe}}
	</div>

   {% for museo in museos %}
	<div id=museo>
      <h3>{{museo.nombre}}</a></h3> 
     	<a href="/museos/{{museo.id}}" class="body_content_link">Enlace a su página</a> 
		<br/><br/>
	</div>
	{% endfor %}
	
{% endblock %}


