{% extends "miplantilla/index.html" %}

{% block menu %}
	<td><div class="navigation"><a href="/" class="main_link">Inicio</a></div></td>
{% endblock %}

{% block title %}
    {{titulo|safe}}
{% endblock %}
      
{% block content %}
   
	<div id=subtitulo>
		{{titulo|safe}}
	</div>

	{% for seleccionado in seleccionados %}
	<div id=museo>
      <h3><a href="{{seleccionado.museo.enlace}}" class="body_content_link">
		{{seleccionado.museo.nombre}}</a></h3> 
      
			{{seleccionado.museo.via_clase}}
			{{seleccionado.museo.via_nombre}} 
			{{seleccionado.museo.via_numero}}, 
			{{seleccionado.museo.postal}} 
			{{seleccionado.museo.localidad}}
      	<br/><br/>
			Seleccionado el {{seleccionado.fecha}}
			<br/><br/>
      	<a href="/museos/{{seleccionado.museo.id}}" class="body_content_link">Más información</a> 
		<br/><br/>
	</div>
	{% endfor %}

   {% if id == 0 %}
        <br/><a href="/{{usuario}}" class="body_content_link"> &lt;&lt;Volver a la primera página</a>
   {% elif id > 0 %}
        <br/><a href="/{{usuario}}?id={{id}}" class="body_content_link"> &gt;&gt;Página siguiente</a>
	{% elif id == -1 %}
        <!--Página única-->
	{% endif %}
	
{% endblock %}


