body {
	margin: 0px;
	background-color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
table.linkcontainer td{
	background-color: #000000;
	filter:alpha(opacity=80);
	opacity: .8;
	-moz-opacity: .8;
}
td.logo_area{ 
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
   background-image: url(../images/logo.jpg);
   background-size: 580px;
   background-repeat:no-repeat;
   height: 80px;  
}

td.middle_spacer {
	width: 890px;
   height: 400px;
   background-image: url(../images/end_bg.jpg);
   color: #FFFFFF;
	padding: 20px;
   font-size: 15px;
   text-align: center;
}

td.body_content {
	padding: 20px;
	background-image: url(../images/bg_content.jpg);
	background-repeat: repeat;
   font-size: 12px;
   margin-right: 20px;
}
td.below_header{
	background-image: url(../images/middle_bg.jpg);
	height: 30px;
	color: #FFFFFF;
	padding: 5px;
   font-size: 15px;
}
td.main_content_box {
	background-color: #FFFFFF;
}

td.horizontal_column {
	background-color: #000000;
	border-top-width: 15px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	height: 150px;
	display: table-cell;
	vertical-align: top;
}
td.bottom_link_container {
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	padding: 5px;
}

td.menu {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #333333;
	border-bottom-color: #000000;
	border-left-color: #333333;
	height: 300px; 
	display: table-cell;
	vertical-align: top;
	background-image: url(../images/sorolla.jpg);
}
td.header_column {
	height: 120px;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: large;
	background-image: url(../images/end_bg.jpg);
	background-position: top;
}
td.left_content {
	width: 200px;
	padding: 5px;
	vertical-align: top;
	background-image: url(../images/bg_content.jpg);
	background-repeat: repeat;
}

a.main_link:active,a.main_link:visited,a.main_link:link{
	font-weight: bold;
	text-decoration: none;
	display: block;
	width: 100%;
	color: #FFFFFF;
	line-height: 50px;
}
a.main_link:hover{
	background-color:#333333;
	color: #FFFFFF;
}
a.bottom_link:active,a.bottom_link:visited,a.bottom_link:link{
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}
a.bottom_link:hover{
	color: #CCCCCC;
}

div.navigation {
	height: 50px;
	vertical-align: middle;
	text-align: center;
}
div.slider_fotos {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

a.body_content_link {
	color: #0B1D86
}

#subtitulo
{
	color: #0B1D86;
   font-weight: bold;
   font-size: 25px;
	font-family: "Palatino", sans-serif;
   margin-bottom: 15px;
}

#museo
{
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
   border-bottom: 80%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
}
